---
title: Streams
---

<p><a href="/"><img src=/pictures/mainpage.png></a></p>

<center>
    <p><font size="6"><span style="background-color: #000000; color: #ffffff;"><strong>List of Cameras:</strong></font></span><br /><br />
    <br /><span style="color: #FFFFFF">For Youtube only links to the channels' streams only page are included, except if the stream is hidden.</span>
    <br /><span style="color: #FFFFFF">Other videos might exist on the Youtube channel outside of that stream page, including past recordings.</span>
    <br /><span style="color: #FFFFFF">You can hover images for info and open them for bigger size.</span>
    <br /><a href="/streams"><img src=/pictures/live.png></a>
  </p>

<noscript><font size="4"><b>Enable JavaScript to use the filters.</b></font></noscript>

<!-- Control buttons -->
<div id="myBtnContainer">
  {% include all_button_tags.html %}
</div>

<!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
<div class="container">
  {% for data in site.data.streams.data %}
    {% unless data.isAlive %}
      {% include stream.html stream=data %}
    {% endunless %}
  {% endfor %}
</div></center>

<br /><br /><br /><br />
<p><a href="/"><img src=/pictures/mainpage.png></a></p>



<script>
function filterSelection(className)
{
    if (!className || className === "all")
        className = "";

    for (const {classList}  of document.getElementsByClassName("filterDiv")) {
        if (!className || classList.contains(className))
            classList.remove("hide");
        else
            classList.add("hide");
    }
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
